%h1 Websites

= link_to "Add Website", new_client_website_path, :class => "btn btn-success"

%br
%br

%table.table-bordered.table-striped{:style => "width:100%"}
  %thead
    %tr
      %th Name
      %th Keywords
      %th Name
      %th URL
  %tbody
    - @websites.each do |website|
      %tr
        %td= link_to "Edit", edit_client_website_path(@client,website)        
        %th= link_to "Keywords (#{website.keywords.count})", client_website_keywords_path(@client, website)
        %th= link_to "Source reports(#{website.source_reports.count})",client_website_source_reports_path(@client,website)
        %td= website.name
        %td= website.url
