%h1 Clients

= link_to "Add Client", new_client_path, :class => "btn btn-success"

%br
%br

%table.table-bordered.table-striped{:style => "width:100%"}
  %thead
    %tr
      %th Edit
      %th Sites 
      %th Name
      %th Contact
      %th Email
      %th Phone
  %tbody
    - @clients.each do |client|
      %tr
        %td= link_to "Edit", edit_client_path(client)
        %td= link_to "Websites (#{client.websites.count})", client_websites_path(client)
        %td= client.name
        %td= client.contact_name
        %td= client.contact_email
        %td= client.contact_phone
